@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Quicksand:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --textblack: rgba(51, 51, 51, 1);
    --textgray: rgba(153, 153, 153, 1);
    --textwhite: rgba(255, 255, 255, 1);
    --primary-red: rgba(255, 10, 10, 1);
    --primary-purple: rgba(60, 16, 83, 1);
}

body{
    overflow-x: hidden;
    width: 100vw;
}

.grid-template-columns{
    grid-template-columns: repeat(3, auto);
}